

$primaryColor: #25c0d6;
$darkBlue: #2f363c;
$darkBlue_2: #2f363c;
$aliceBlue: #f3f8fa;
$lightBlue: #f3f8fa;
$green: #84c98e;
$fontColor: #505050;
$white: #ffffff;
$grey: #aaaaaa;
$grey2: #f8f8f8;
$black: #000000;
$shadowColor: #2f363c;


$headerFont: 'Roboto', sans-serif;
$bodyFont: 'Muli', sans-serif;

