<!-- Call To Action -->
<div class="section-padding-80 dark-bg call-to-action-bg">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-10">
              <div class="call-to-action">
                <h3>Sign Up to Get Your Free Website Consultation!</h3>
                <div class="call-to-action-form">
                  <form action="#" class="form-inline scorecard-form">
                    <div class="form-group">
                      <input type="text" class="form-control" name="WEBSITE" placeholder="Current Website" id="mce-WEBSITE">
                    </div>
                    <div class="form-group">
                      <input type="email" class="form-control" name="EMAIL" placeholder="Enter Address" id="mca-EMAIL">
                    </div>
                    <button type="submit" class="btn button">Sign Up Now</button>
                    <p class="newsletter-error">Please enter your email</p>
                    <p class="newsletter-success">Thank you for subscribing!</p>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Call To Action End -->