{% include call-to-action.html %}  

<footer>
    <div class="footer-bg call-to-action-bg">
      <div class="footer-widget section-padding-120">
        <div class="container">
          <div class="row margin-balance">
            <div class="col-lg-4 col-sm-6">
                <div class="footer-logo">
                    <a href="#"><img src="/assets/images/logo.svg" width="200" class="img-fluid" alt="Brand Logo"></a>
                  </div><br>              
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="widget contact-widget">
                    <h4 class="widget-title">Contact Us</h4>
                    <div class="widget-inner">
                      <ul>
                        <li class="address">{{ site.address_line1 }}</li>
                        <li class="email"><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
                        <li class="phone"><a href="tel:{{ site.phone }}">{{ site.phone }}</a></li>
                      </ul>
                    </div>
                  </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="widget subscribe-widget widget_mc4wp_form_widget">
                <h4 class="widget-title">Newsletter</h4>
                <div class="widget-inner">
                  <p>Subscribe our newsletter to stay in touch!</p>
                  <form class="subscribtion-form js-cm-form" id="subForm" action="https://www.createsend.com/t/subscribeerror?description=" method="post" data-id="A61C50BEC994754B1D79C5819EC1255C3CA172B5DFA9E9F269B24E73F752241BDA833905E52904F104E4FE12D9AB7466B5C41B18A5BD43948C0FAC39A96E778C">
                    <div class="form-group">
                      <input type="email" name="cm-ydidkrj-ydidkrj" class="form-control js-cm-email-input" placeholder="Email address">
                    </div>
                    <button type="submit" class="button primary-bg js-cm-submit-button">Subscribe</button>
                    <p class="newsletter-error">Please enter your email</p>
                    <p class="newsletter-success">Thank you for subscribing!</p>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright-footer">
      <div class="container">
        <div class="row">
          <div class="col">
            <p class="copyright-text">Copyright 2018 &copy; Matson Technologies LLC, All rights reserved.</p>
          </div>
        </div>
      </div>
    </div> 
    <!-- Back to Top -->
    <div class="backtotop">
      <span class="ti-angle-up"></span>
    </div>
    <!-- Back to Top End -->
  </footer>
