<header>
    <nav class="navbar fixed-top navbar-expand-lg markesia-nav">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="/assets/images/logo-header.svg" class="img-fluid" alt="" style="width: 400px;">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    {% for item in site.data.navigation.main_menu %}
                    <li class="menu-item active"><a title="{{ item.title}}" href="{{ item.url }}">{{ item.title }}</a></li>                 
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>
</header>