

$primaryColor: #1a4f1b;
$darkBlue: #142b14;
$darkBlue_2: #174418;
$aliceBlue: #b6d4b7;
$lightBlue: #435f44;
$green: #01a23b;
$fontColor: #505050;
$white: #ffffff;
$grey: #aaaaaa;
$grey2: #f8f8f8;
$black: #000000;
$shadowColor: #173f18;


$headerFont: 'Nunito', sans-serif;
$bodyFont: 'Open Sans', sans-serif;

