---
layout: default
---

    {% include slider.html %}
     
    {% include services-overview.html %}  
    
    {% include call-to-action.html %}
      <!-- Featrued Content -->
      <div class="section-padding-120 aliceblue-bg section-border-top section-border-bottom">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 order-lg-2">
              <div class="featured-content-thumb text-right">
                <img src="assets/images/about/update.svg" height="400px"class="img-fluid" alt="About Thumb">
              </div>
            </div>
            <div class="col-lg-6 order-lg-1">
              <div class="right-content-md">
                <div class="featured-content">
                  <h3>Building Interactive Expereinces</h3>
                  <p>Web Development is more than just building websites, it's about creating engaging platforms where users can be immersed in your content. </p>
                  <a href="#" class="primary-bg button">Let's Work Together</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Featrued Content End -->

    {% include portfolio.html %}
       
      <!-- Testimonial -->
      <!--<div class="section-padding">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 order-lg-2">
              <div class="testimonial-thumb text-right">
                <img src="assets/images/testimonial/testimonial-thumb.png" class="img-fluid" alt="Testimonial Thumb">
              </div>
            </div>
            <div class="col-lg-6 order-lg-1">
              <div class="testimonial-block right-content-md">
                <h3>Check what our <span>Client Says about us.</span></h3>
                <div class="testimonial owl-carousel">
                  <div class="testimonial-item">
                    <img src="assets/images/testimonial/quote.png" class="quote img-fluid" alt="">
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. sometimes (injected humour and the like).</p>
                    <div class="commenter">
                      <div class="commenter-thumb">
                        <img src="assets/images/testimonial/commenter-thumb.png" alt="">
                      </div>
                      <div class="commenter-body">
                        <h5>Robert Smart</h5>
                        <p>CEO, uix</p>
                      </div>
                    </div>
                  </div>
                  <div class="testimonial-item">
                    <img src="assets/images/testimonial/quote.png" class="quote img-fluid" alt="">
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. to use a passage of Lorem Ipsum, you need to be sure there isn't anything. sometimes (injected humour and the like).</p>
                    <div class="commenter">
                      <div class="commenter-thumb">
                        <img src="assets/images/testimonial/commenter-thumb.png" alt="">
                      </div>
                      <div class="commenter-body">
                        <h5>Robert Smart</h5>
                        <p>CEO, uix</p>
                      </div>
                    </div>
                  </div>
                  <div class="testimonial-item">
                    <img src="assets/images/testimonial/quote.png" class="quote img-fluid" alt="">
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. sometimes (injected humour and the like).</p>
                    <div class="commenter">
                      <div class="commenter-thumb">
                        <img src="assets/images/testimonial/commenter-thumb.png" alt="">
                      </div>
                      <div class="commenter-body">
                        <h5>Robert Smart</h5>
                        <p>CEO, uix</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>-->
      <!-- Testimonial End -->
      <!-- Client Logo -->
      <!--<div class="section-padding-80 section-border-top section-border-bottom">
        <div class="container">
          <div class="row margin-balance">
            <div class="col">
              <div class="client-logos d-flex justify-content-between">
                <a href="#" class="client-logo">
                  <img src="assets/images/client/logo-1.png" class="img-fluid" alt="Client Logo">
                </a>
                <a href="#" class="client-logo">
                  <img src="assets/images/client/logo-2.png" class="img-fluid" alt="Client Logo">
                </a>
                <a href="#" class="client-logo">
                  <img src="assets/images/client/logo-3.png" class="img-fluid" alt="Client Logo">
                </a>
                <a href="#" class="client-logo">
                  <img src="assets/images/client/logo-4.png" class="img-fluid" alt="Client Logo">
                </a>
                <a href="#" class="client-logo">
                  <img src="assets/images/client/logo-5.png" class="img-fluid" alt="Client Logo">
                </a>
                <a href="#" class="client-logo">
                  <img src="assets/images/client/logo-6.png" class="img-fluid" alt="Client Logo">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>-->
      <!-- Client Logo End -->
      
      {% include post_gallery.html %}
      